{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/selection/form.css') }}"/>
{% endblock %}

{% block title %}
    Séléction d'un projet TER
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>Séléction du projet {{ projet.titre }}</p>
    </div>
    <div class="right__center">
        <div class="choice__selection__box">
            <p>Êtes vous sûr de vouloir sélectionner ce projet ?</p>
            {{ form_start(form) }}
            <div id="buttons">
                <a id="cancel" href="{{ app.request.headers.get('referer') }}">Annuler</a>
                {{ form_row(form.save, {'label': "Choisir ce projet", 'attr': {'class': 'save'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
