{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/projet/projet__form.css') }}"/>
{% endblock %}

{% block title %}
    Annulation de la sélection n°{{ selection.id }}
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Se désister du projet TER {{ selection.idProjet.titre }}
        </p>
    </div>
    <div class="right__center">
        <div class="projet__delete__box">
            <p class="projet__form__delete__message">Êtes-vous sûr de vouloir vous désister du projet TER {{ selection.idProjet.titre }}  ?</p>
            <div class="projet__form__delete_action">
                {{ form_start(form,  { 'attr' : { 'class': 'projet__form' } }) }}
                {{ form_row(form.cancel, { 'label': 'Annuler' }) }}
                {{ form_row(form.delete, { 'label': 'Se désister' }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
