{% extends 'base.html.twig' %}

{% block title %}Emploi du temps{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.startTime) }}
    {{ form_row(form.endTime) }}
    {{ form_row(form.description) }}
    <button type="submit">Ajouter l'événement</button>
    {{ form_end(form) }}
{% endblock %}
