{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/auth/form.css') }}"/>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bx-log-in-circle'></i>
            Connexion
        </p>
    </div>
    <div class="right__center">
        <div class="auth__space">
            {% if app.user %}
                <div class="auth__already__connected">
                    Bonjour {{ app.user.firstname }}, vous êtes déjà connecté. Déconnectez-vous <a
                            href="{{ path('app_logout') }}">ici</a>.
                </div>
            {% else %}
                <form method="post" class="auth__form">
                    <div class="auth__head">
                        <p>
                            <i class='bx bx-log-in-circle'></i>
                            Connexion
                        </p>
                    </div>
                    {% if error %}
                        <div class="auth__errormsg">
                            <i class='bx bxs-error-circle'></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <div class="auth__inputs">
                        <div class="auth__part">
                            <p class="auth__input__label">E-m@il</p>
                            <input type="email"
                                   value="{{ last_username }}"
                                   name="email"
                                   id="inputEmail"
                                   class="form-control"
                                   autocomplete="email"
                                   required
                                   autofocus>
                        </div>
                        <div class="auth__part">
                            <p class="auth__input__label">Mot de passe</p>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   autocomplete="current-password" required>
                        </div>
                        <div class="auth__part">
                            <button type="submit">
                                Connexion
                            </button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="auth__no__register">
                        <p>Vous n'avez pas encore de compte ? Cliquez <a href={{ path("app_register") }}>ici</a>.</p>
                    </div>

                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
