{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Liste des projets TER
        </p>
    </div>
    <div class="right__center">
        <div class="projet__top">
            <div class="search__bar">
                <input type="text" placeholder="Rechercher un projet" id="search__bar">
                <div class="search__icon"><i class='bx bx-search-alt-2'></i></div>
            </div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT') %}
                <div class="create">
                    <a href="{{ path('app_projet_ter_create') }}">Créer</a>
                    <div class="search__icon"><i class='bx bx-plus'></i></div>
                </div>
            {% endif %}
        </div>
        <div class="projet__bottom">
            {% for projetTER in projetsTER %}
                <div class="projet__item">
                    <div class="projet__item__titre">{{ projetTER.titre }}</div>
                    <div class="projet__item__actions">
                        <a href="{{ path('app_projet_ter_show', {id: projetTER.id}) }}"><i class='bx bxs-show'></i></a>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT') %}
                            <a href="{{ path('app_projet_ter_update', {id: projetTER.id}) }}"><i class='bx bxs-edit-alt'></i></a>
                            <a href="{{ path('app_projet_ter_delete', {id: projetTER.id}) }}"><i class='bx bxs-trash'></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('assets/js/search__bar__projet.js') }}"></script>
{% endblock %}