{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Liste des projets TER
        </p>
    </div>
    <div class="right__center">
        <div class="projet__top">
            <div class="search__bar">
                <input type="text" placeholder="Rechercher un projet" id="search__bar">
                <div class="search__icon"><i class='bx bx-search-alt-2'></i></div>
            </div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT') %}
                <div class="create">
                    <a href="{{ path('app_projet_ter_create') }}">Créer</a>
                    <div class="search__icon"><i class='bx bx-plus'></i></div>
                </div>
            {% endif %}
        </div>
        <div class="projet__bottom">
            {% for projetTER in projetsTER %}
                <div class="projet__item">
                    <div class="projet__item__content">
                        <div class="projet__item__titre"><span class="important">Projet:</span> {{ projetTER.titre }}</div>
                        <div class="projet__item__author"><p>Publié par, <span class="important"> {{ projetTER.author.firstname }} {{ projetTER.author.lastname }}
                                le {{ projetTER.date|date("d/m/Y à H:i",  "Europe/Paris") }}</span>.</p></div>
                    </div>
                    <div class="projet__item__actions">
                        <a id="show" href="{{ path('app_projet_ter_show', {id: projetTER.id}) }}"><i class='bx bxs-show'></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('assets/js/search__bar__projet.js') }}"></script>
{% endblock %}