{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/projet/projet__form.css') }}"/>
{% endblock %}

{% block title %}
    Visualisation du projet n°{{ projet.id }}
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Visualisation du projet n°{{ projet.id }}
        </p>
    </div>
    <div class="right__center">
        <div class="projet__show__item">
            <h2>{{ projet.titre }}</h2>
            <p id="projet__author"><span class="important">Auteur:</span> {{ projet.author.firstname }} {{ projet.author.lastname }}</p>
            <p id="projet__desc"><span class="important">Description:</span> {{ projet.description }}</p>
            <p id="projet__desc"><span class="important">Date de publication:</span> {{ projet.date|date("d/m/Y à H:i",  "Europe/Paris") }}</p>
        </div>
    </div>
{% endblock %}


