{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/projet/projet.css') }}"/>
{% endblock %}

{% block title %}
    Visualisation du projet n°{{ projet.id }}
{% endblock %}

{% block body %}

    {% set dejaSelectionne = false %}

    {% for selection in projet.selections %}
        {% if selection.idUser.id == app.user.id %}
            {% set dejaSelectionne = true %}
        {% endif %}
    {% endfor %}

    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Visualisation du projet n°{{ projet.id }}
        </p>
    </div>
    <div class="right__center">
        <div class="projet__show__space">
            <div class="projet__show__item">

                <div id="head">
                    <p class="show__item__title">
                        {{ projet.titre }}
                    </p>
                </div>

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT') and app.user.id == projet.author.id %}
                    <div id="actions">
                        <a id="edit" href="{{ path('app_projet_ter_update', {id: projet.id}) }}">
                            <i class='bx bxs-edit-alt'></i>
                        </a>
                        <a id="delete" href="{{ path('app_projet_ter_delete', {id: projet.id}) }}">
                            <i class='bx bxs-trash'></i>
                        </a>
                    </div>
                {% endif %}

                <div id="projet__content">
                    <p id="projet__author">
                <span class="important">
                    Enseignant en charge du projet:
                </span>
                        {{ projet.author.firstname }} {{ projet.author.lastname }}
                    </p>
                    <p id="projet__desc">
                <span class="important">
                    Description:
                </span>
                        {{ projet.description }}
                    </p>
                    <p id="projet__desc">
                <span class="important">
                    Date de publication:
                </span>
                        {{ projet.date|date("d/m/Y",  "Europe/Paris") }}
                    </p>
                    <p id="projet__desc">
                <span class="important">
                    Niveau:
                </span>
                        {{ projet.libProjet }}
                    </p>
                </div>

                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_ETUDIANT')) and not dejaSelectionne %}
                    <div id="choice">
                        <a href="{{ path('app_selection_create', {idProjet: projet.id}) }}">
                            Choisir
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT') and app.user.id == projet.author.id %}
                {% if projet.selections|length > 0 %}
                    <div class="projet__selection">
                        <p id="selection__title">Etudiant(s) ayant sélectionné ce projet :</p>
                        <div id="selections__list">
                            {% for selection in projet.selections %}
                                <div class="selection__item">
                                    <div id="selection__number">
                                        <p>{{ loop.index }}</p>
                                    </div>
                                    <div>
                                        <p id="selection__identity">{{ selection.idUser.firstname }} {{ selection.idUser.lastName }}</p>
                                        <p id="selection__date">Selectionné
                                            le: {{ selection.date|date("d/m/Y à H:i",  "Europe/Paris") }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="projet__selection__empty">
                        <p>Aucun étudiant n'a sélectionné ce projet.</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}


