{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/auth/form.css') }}"/>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bx-log-in-circle'></i>
            Inscription
        </p>
    </div>
    <div class="right__center">
        <div class="auth__space">
            {% if app.user %}
                <p>
                    {{ app.user.firstname }}, vous êtes déjà connecté. Vous ne pouvez pas vous enregister.<br>
                    Si vous souhaitez vous enregistrer, déconnectez-vous <a href="{{ path('app_logout') }}">ici</a>.
                </p>
            {% else %}
                {{ form_start(registrationForm, {'attr': {'class': 'auth__form'}}) }}
                <div class="auth__head">
                    <p>
                        <i class='bx bx-log-in-circle'></i>
                        Inscription
                    </p>
                </div>
                <div class="auth__inputs">
                    <div class="auth__part">
                        <p class="auth__input__label">Prénom:</p>
                        {{ form_row(registrationForm.firstname, {
                            label: ' '
                        }) }}
                    </div>
                    <div class="auth__part">
                        <p class="auth__input__label">Nom:</p>
                        {{ form_row(registrationForm.lastname, {
                            label: ' '
                        }) }}
                    </div>
                    <div class="auth__part">
                        <p class="auth__input__label">Téléphone:</p>
                        {{ form_row(registrationForm.phone, {
                            label: ' '
                        }) }}
                    </div>
                    <div class="auth__part">
                        <p class="auth__input__label">E-m@il:</p>
                        {{ form_row(registrationForm.email, {
                            label: ' '
                        }) }}
                    </div>
                    <div class="auth__part">
                        <p class="auth__input__label">Mot de passe:</p>
                        {{ form_row(registrationForm.plainPassword, {
                            label: ' '
                        }) }}
                    </div>
                    <div class="auth__part terms">
                        {{ form_row(registrationForm.agreeTerms, {
                            label: 'Accepter les termes'
                        }) }}
                    </div>

                    <div class="auth__part">
                        <button type="submit" class="btn">Inscription</button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
