{% extends 'base.html.twig' %}

{% block title %}
    Alternances proposées par {{ user.firstname }} {{ user.lastname }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/profil/style.css') }}"/>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Liste des alternances proposées
        </p>
    </div>
    <div class="right__center">
        <div class="profil__title">
            {% if user.alternances|length == 0 %}
                    Vous n'avez pas encore proposé d'alternance.
                </div>
            {% else %}
                    <h2>Voici la liste des alternance que vous avez proposé, <span class="important">{{ user.firstname }}</span></h2>
                </div>
                <ul>
                    <div class="profil__content">
                    {% for alternance in alternances %}
                        <li>
                            <span class="important">Alternance n°{{ alternance.id }} :</span> {{ alternance.titre }}
                            <a class="see__more" href="{{ path('app_alternance_show', {id: alternance.id}) }}">Voir plus</a>
                        </li>
                    {% endfor %}
                    </div>
                </ul>
            {% endif %}
    </div>
{% endblock %}
