{% extends 'base.html.twig' %}

{% block title %}Page de profil de {{ user.firstname }}{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.firstname }} !</h1>

    {% if user.roles[0] == "ROLE_ADMIN" %}
        <h2>Vous êtes connectés en tant qu'administrateur.</h2>
    {% endif %}
    {% if user.roles[0] == "ROLE_USER" %}
        <h2>Vous êtes connectés en tant qu'utilisateur.</h2>
    {% endif %}
    {% if user.roles[0] == "ROLE_ETUDIANT" %}
        <h2>Vous êtes connectés en tant qu'étudiant.</h2>
    {% endif %}
    {% if user.roles[0] == "ROLE_ENTREPRISE" %}
        <h2>Vous êtes connectés en tant que personnel d'une entreprise.</h2>
    {% endif %}
    {% if user.roles[0] == "ROLE_ENSEIGNANT" %}
        <h2>Vous êtes connectés en tant qu'enseignant.</h2>
    {% endif %}

    <h2>Informations personnelles :</h2>
    <ul>
        <li>
            Nom : {{ user.firstname }}
        </li>
        <li>
            Prenom : {{ user.lastname }}
        </li>
        <li>
            Email : {{ user.email }}
        </li>
        <li>
            Numéro de téléphone : {{ user.phone }}
        </li>
        {% if is_granted('ROLE_ETUDIANT') %}
        <li>
            Candidatures : cliquez <a href="{{ path('app_profil_candidatures') }}">ici</a> pour voir vos candidatures aux différents stages proposés.
        </li>
        {% endif %}
        {% if is_granted('ROLE_ENTREPRISE') %}
            <li>
                Stages proposés : cliquez <a href="{{ path('app_profil_stages') }}">ici</a> pour voir les stages que vous avez proposé.
            </li>
            <li>
                Alternances proposées : cliquez <a href="{{ path('app_profil_alternances') }}">ici</a> pour voir les alternances que vous avez proposé.
            </li>
        {% endif %}
    </ul>
{% endblock %}
