{% extends 'base.html.twig' %}

{% block title %}
    Stages proposés par {{ user.firstname }} {{ user.lastname }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/profil/style.css') }}"/>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Liste des stages proposés
        </p>
    </div>
    <div class="right__center">
        <div class="profil__title">
            {% if user.stages|length == 0 %}
                    Vous n'avez pas encore proposé de stage.
                </div>
            {% else %}
                    <h2>Voici la liste des stages que vous avez proposé, {{ user.firstname }}</h2>
                </div>
                <div class="profil__content">
                    <ul>
                        {% for stage in stages %}
                            <li>
                                <span class="important">Stage n°{{ stage.id }} :</span> {{ stage.titre }}
                                <a class="see__more" href="{{ path('app_stage_show', {id: stage.id}) }}">Voir plus</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
    </div>
{% endblock %}
