{% block body %}
    <div class="right__top">
        <p>
            <i class="bx bx-question-mark"></i>
            F.A.Q
        </p>
    </div>
    <div class="right__center">
        <div class="faq__top">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT') %}
                <div class="create">
                    <a href="{{ path('app_faq_create') }}">Créer <i class='bx bx-plus'></i></a>
                </div>
            {% endif %}
        </div>
        {% for faq in faqs %}
            <div class="faq__item">
                <div class="faq__item__content">
                    <div class="faq__content__text">
                        <p class="faq__question"><i class='bx bxs-right-arrow'></i> {{ faq.question }}</p>
                        <p class="faq__reponse hide">{{ faq.reponse }}</p>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="faq__item__actions">
                            <a id="edit" href="{{ path('app_faq_update', {id: faq.id}) }}"><i class='bx bxs-edit-alt'></i></a>
                            <a id="delete" href="{{ path('app_faq_delete', {id: faq.id}) }}"><i class='bx bxs-trash'></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{{ asset('assets/js/faq.js') }}"></script>
{% endblock %}