{% block body %}
    {{ form_start(form) }}
    <p class="faq__form__label__title">Question:</p>
    {{ form_row(form.question, {'label': ' '}) }}
    <p class="faq__form__label__title">Réponse:</p>
    {{ form_row(form.reponse, {'label': ' '}) }}
    <div class="faq__form__submit__box">
        {{ form_row(form.save, {'label': label_submit }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}