{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Liste des Alternances
        </p>
    </div>
    <div class="right__center">
        <div class="projet__top">
            <div class="search__bar">
                <input type="text" placeholder="Rechercher une alternance" id="search__bar">
                <div class="search__icon"><i class='bx bx-search-alt-2'></i></div>
            </div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENTREPRISE') %}
                <div class="create">
                    <a href="{{ path('app_alternance_create') }}">Créer</a>
                    <div class="search__icon"><i class='bx bx-plus'></i></div>
                </div>
            {% endif %}
        </div>
        <div class="projet__bottom">
            {% for alternance in alternances %}
                <div class="projet__item">
                    <div class="projet__item__content">
                        <div class="projet__item__titre"><span class="important">Alternance:</span> {{ alternance.titre }}</div>
                        <div class="projet__item__author"><p>Publiée par <span class="important"> {{ alternance.author.firstname }} {{ alternance.author.lastname }}</span>.</p></div>
                    </div>
                    <div class="projet__item__actions">
                        <a id="show" href="{{ path('app_alternance_show', {id: alternance.id}) }}"><i class='bx bxs-show'></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('assets/js/search__bar__projet.js') }}"></script>
{% endblock %}