{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/projet/projet__form.css') }}"/>
{% endblock %}

{% block title %}
    Visualisation de l'alternance n°{{ alternance.id }}
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Visualisation de l'alternance n°{{ alternance.id }}
        </p>
    </div>
    <div class="right__center">
        <div class="projet__show__item">
            <h2>{{ alternance.titre }}</h2>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENTREPRISE') %}
                <a id="edit" href="{{ path('app_alternance_update', {id: alternance.id}) }}"><i class='bx bxs-edit-alt'></i></a>
                <a id="delete" href="{{ path('app_alternance_delete', {id: alternance.id}) }}"><i class='bx bxs-trash'></i></a>
            {% endif %}
            <p id="projet__author"><span class="important">Auteur:</span> {{ alternance.author.firstname }} {{ alternance.author.lastname }}</p>
            <p id="projet__desc"><span class="important">Description:</span> {{ alternance.description }}</p>
        </div>
    </div>
{% endblock %}


