<!DOCTYPE html>
<html lang="fr">
<head>

    <!-- BASIC HEAD -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- TITLE -->
    <title>{% block title %}Master IA - URCA{% endblock %}</title>

    <!-- PERSONAL CSS -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/side/left__side.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/side/right__side.css') }}"/>

    <!-- BOX ICONS -->
    <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
    />

    <!-- SCRIPTs -->
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
<div class="left">
    <div class="left__content">
        <div class="left__top">
            <div class="left__image__box">
                <a href="{{ path('app_accueil') }}"><img src="{{ asset('assets/img/logo-nobg.png') }}" alt=""/></a>
            </div>
        </div>
        <div class="left__center">
            <ul>
                {% if app.user %}
                    <li>
                        <a href="{{ path('app_profil') }}">
                            <i class='bx bxs-user'></i>
                            Profil
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('app_informations') }}">
                        <i class="bx bx-info-circle"></i>
                        Informations
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_decouvrir') }}">
                        <i class="bx bx-bullseye"></i>
                        Découvrir
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_faq') }}">
                        <i class="bx bx-question-mark"></i>
                        F.A.Q
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ETUDIANT') or is_granted('ROLE_ENSEIGNANT')
                    or is_granted('ROLE_ENTREPRISE') %}
                    <li>
                        <a href="{{ path('app_conversation') }}">
                            <i class='bx bxs-chat'></i>
                            Messagerie
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ETUDIANT') or is_granted('ROLE_ENSEIGNANT')%}
                    <li>
                        <a href="{{ path('app_projet_ter') }}">
                            <i class='bx bxs-shopping-bag'></i>
                            Projets TER
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ETUDIANT') or is_granted('ROLE_ENSEIGNANT')
                    or is_granted('ROLE_ENTREPRISE') %}
                    <li>
                        <a href="{{ path('app_stage') }}">
                            <i class='bx bxs-briefcase-alt'></i>
                            Stages
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ETUDIANT') or is_granted('ROLE_ENSEIGNANT')
                    or is_granted('ROLE_ENTREPRISE') %}
                    <li>
                        <a href="{{ path('app_alternance') }}">
                            <i class='bx bxs-briefcase'></i>
                            Alternances
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="left__bottom">
            {% if app.user %}
                <a href="{{ path('app_logout') }}">
                    <i class='bx bx-log-out-circle'></i>
                    Se déconnecter
                </a>
            {% elseif not app.user %}
                <a href="{{ path('app_login') }}">
                    <i class='bx bx-log-in-circle'></i>
                    Se connecter
                </a>
            {% endif %}
        </div>
    </div>
    <div class="burger__space"><p class="nav__button"><i id="burger__icon" class='bx bx-menu'></i></p></div>
</div>
<div class="right">
    <div class="right__content">
        {% block body %}{% endblock %}
        <div class="right__bottom">
            <p>
                <i class="bx bx-code-curly"></i>
                Développé par SuntoryDev
            </p>
        </div>
    </div>
</div>

<!-- SCRIPT -->
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="{{ asset('assets/js/burger.js') }}"></script>

</body>
</html>
