{% block body %}
    {{ form_start(form) }}
    <p class="projet__form__label__title">Numéro du stage:</p>
    {{ form_row(form.numStage, {'label': ' '}) }}
    <p class="projet__form__label__title">Titre du stage:</p>
    {{ form_row(form.titre, {'label': ' '}) }}
    <p class="projet__form__label__title">Description du stage:</p>
    {{ form_row(form.description, {'label': ' '}) }}
    <div class="projet__form__submit__box">
        {{ form_row(form.save, {'label': label_submit }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
