{% extends 'base.html.twig' %}

{% block title %}
    CV de {{ candidature.idUser.firstname }} {{ candidature.idUser.lastname }}
{% endblock %}

{% block body %}
    <p>CV de {{ candidature.idUser.firstname }} {{ candidature.idUser.lastname }}</p>
    <a href="{{ path('app_candidature_retenir', {id: candidature.id}) }}">Retenir</a>
    <iframe src="{{ asset('uploads/cvs/' ~ candidature.cvFilename) }}" width="50%" height="500px"> </iframe>
{% endblock %}
