{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/projet/projet.css') }}"/>
{% endblock %}

{% block title %}
    Visualisation du stage n°{{ stage.id }}
{% endblock %}

{% block body %}

    {% set dejaSelectionne = false %}

    {% for candidature in stage.candidatures %}
        {% if candidature.idUser.id == app.user.id %}
            {% set dejaSelectionne = true %}
        {% endif %}
    {% endfor %}

    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Visualisation du stage n°{{ stage.id }}
        </p>
    </div>
    <div class="right__center">
        <div class="projet__show__space">
            <div class="projet__show__item">

                <div id="head">
                    <p class="show__item__title">
                        {{ stage.titre }}
                    </p>
                </div>

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENTREPRISE') and app.user.id == stage.author.id %}
                    <div id="actions">
                        <a id="edit" href="{{ path('app_stage_update', {id: stage.id}) }}">
                            <i class='bx bxs-edit-alt'></i>
                        </a>
                        <a id="delete" href="{{ path('app_stage_delete', {id: stage.id}) }}">
                            <i class='bx bxs-trash'></i>
                        </a>
                    </div>
                {% endif %}

                <div id="projet__content">
                    <p class="projet__show__line">
                        <span class="important">Auteur du stage: </span>
                        {{ stage.author.firstname }} {{ stage.author.lastname }}
                    </p>
                    <p class="projet__show__line">
                        <span class="important">Description: </span>
                        {{ stage.description }}
                    </p>
                </div>

                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_ETUDIANT')) and not dejaSelectionne %}
                    <div id="choice">
                        <a href="{{ path('app_candidature_new', {idStage: stage.id}) }}">
                            Candidater
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENTREPRISE') and app.user.id == stage.author.id %}

            {% if stage.candidatures|length > 0 %}
            <div class="projet__selection">

                <div>
                    <p id="candidature__retenues">
                        <a href="{{ path('app_stage_retenues', {id: stage.id}) }}">
                            Voir les candidatures retenues
                        </a>
                    </p>
                    <p id="selection__title">
                        Etudiant(s) ayant sélectionné ce stage :
                    </p>
                </div>
                <div id="selections__list">
                    {% for candidature in stage.candidatures %}
                        <div class="selection__item">
                            <div id="selection__number">
                                <p>{{ loop.index }}</p>
                            </div>
                            <div>
                                <p id="selection__identity">
                                    {{ candidature.idUser.firstname }} {{ candidature.idUser.lastName }}
                                </p>
                                <p id="selection__date">
                                    Faite le {{ candidature.date|date("d/m/Y à H:i",  "Europe/Paris") }}
                                </p>
                            </div>
                            <p id="show_more">
                                <a href="{{ path('app_stage_detail-candidature', {id: candidature.id}) }}">
                                    <i class='bx bxs-show'></i>
                                </a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="projet__selection__empty">
                        <p>Aucun étudiant n'a candidaté ce stage.</p>
                    </div>
                {% endif %}
                {% else %}

                    {% if not dejaSelectionne %}
                        <p id="no_candidate">Vous n'avez pas encore candidater pour ce stage</p>
                    {% else %}

                        {% for candidature in stage.candidatures %}
                            {% if candidature.idUser.id == app.user.id %}
                                <div class="selection__item">
                                    <div id="selection__number">
                                        <p>{{ loop.index }}</p>
                                    </div>
                                    <div>
                                        <p id="selection__identity">
                                            {{ candidature.idUser.firstname }} {{ candidature.idUser.lastName }}
                                        </p>
                                        <p id="selection__date">
                                            Faite le {{ candidature.date|date("d/m/Y à H:i",  "Europe/Paris") }}
                                        </p>
                                    </div>
                                    <p id="show_more">
                                        <a href="{{ path('app_stage_detail-candidature', {id: candidature.id}) }}">
                                            <i class='bx bxs-show'></i>
                                        </a>
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}