{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/projet/projet__form.css') }}"/>
{% endblock %}

{% block title %}
    Visualisation du stage n°{{ stage.id }}
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Visualisation du stage n°{{ stage.id }}
        </p>
    </div>
    <div class="right__center">
        <div class="projet__show__item">
            <h2>{{ stage.titre }}</h2>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENTREPRISE') and app.user.id == stage.author.id %}
                <a id="edit" href="{{ path('app_stage_update', {id: stage.id}) }}"><i class='bx bxs-edit-alt'></i></a>
                <a id="delete" href="{{ path('app_stage_delete', {id: stage.id}) }}"><i class='bx bxs-trash'></i></a>
            {% endif %}
            <p id="projet__author"><span class="important">Auteur:</span> {{ stage.author.firstname }} {{ stage.author.lastname }}</p>
            <p id="projet__desc"><span class="important">Description:</span> {{ stage.description }}</p>

            {% if is_granted('ROLE_ETUDIANT') %}
                <a href="{{ path('app_candidature_new', {idStage: stage.id}) }}">Candidater</a>
            {% endif %}
        </div>
    </div>
    {% set x = 1 %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENTREPRISE') %}
            {% for candidature in stage.candidatures %}
                <h2>Candidature n°{{ x }}</h2>
                <p>{{ candidature.idUser.firstname }} {{ candidature.idUser.lastName }}</p>
                <p>Faite le {{ candidature.date|date("d/m/Y à H:i",  "Europe/Paris") }}</p>
                <a href="{{ path('app_stage_detail-candidature', {id: candidature.id}) }}">Voir plus</a>
                {% set x = x + 1 %}
            {% endfor %}
        {% endif %}
{% endblock %}


