{% extends 'base.html.twig' %}

{% block title %}
    {{ stage.titre }}
{% endblock %}

{% block body %}
    <h1>{{ stage.titre }}</h1>
    <ul>
        <li>Titre du stage : {{ stage.titre }}</li>
        <li>Description du stage : {{ stage.description }}</li>
        {% for candidature in stage.candidatures %}
            <iframe src="{{ asset('uploads/cvs/' ~ candidature.cvFilename) }}" width="50%" height="500px"> </iframe>
        {% endfor %}
    </ul>
{% endblock %}


