{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/candidature/form.css') }}"/>
{% endblock %}

{% block title %}
    Ne plus retenir la candidature de {{ candidature.idUser.firstname }} {{ candidature.idUser.lastname }}
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Ne plus retenir la candidature de {{ candidature.idUser.firstname }} {{ candidature.idUser.lastname }}
        </p>
    </div>
    <div class="right__center">
        <div class="projet__delete__box">
            <p class="projet__form__delete__message">Êtes-vous sûr de vouloir retirer cette candidature de vos choix ?</p>
            {{ form_start(form, { 'attr' : { 'class': 'projet__form' } }) }}
            <div class="buttons__space">
                {{ form_row(form.cancel, { 'label': 'Annuler', 'attr': {'class': 'cancel'} }) }}
                {{ form_row(form.save, { 'label': 'Oui', 'attr': {'class': 'retenir'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


