{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/candidature/form.css') }}"/>
{% endblock %}

{% block title %}
    Retenir la candidature de {{ candidature.idUser.firstname }} {{ candidature.idUser.lastname }}
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Retenir la candidature de {{ candidature.idUser.firstname }} {{ candidature.idUser.lastname }}
        </p>
    </div>
    <div class="right__center">
        <div class="candidature__form">
            <p class="projet__form__delete__message">Êtes-vous sûr de vouloir retenir cette candidature ?</p>
            {{ form_start(form, { 'attr' : { 'class': 'projet__form' } }) }}
            <div class="buttons__space">
                {{ form_row(form.save, { 'label': 'Retenir', 'attr' : {'class': 'retenir'}}) }}
                {{ form_row(form.cancel, { 'label': 'Annuler', 'attr' : {'class': 'cancel'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


